name: MLflow Project CI Retrain

on:
  push:
    branches: [ "main" ]

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas scikit-learn

      - name: Run MLflow Project
        run: |
          mlflow run ./MLProject \
            --env-manager=local \
            -P data_path="${{ github.workspace }}/MLProject/namadataset_preprocessing/data_bersih_eksperimen.csv" \
            -P target_col=Sleep\ Disorder
            -P experiment_name="CI_Retrain_RF_Baseline" \
            -P tracking_uri="file:${{ github.workspace }}/mlruns"

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns
