name: MLflow Project CI Retrain

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas scikit-learn

    - name: Run MLflow Project (retrain)
      run: >
        mlflow run ./MLProject --env-manager=local
        -P data_path=namadataset_preprocessing/data_bersih_eksperimen.csv
        -P target_col="Sleep Disorder"
        -P experiment_name="CI_Retrain_RF_Baseline"
        -P tracking_uri="file:./mlruns"


      - name: Upload MLflow runs folder
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns

  docker:
    needs: retrain
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Dockerfile minimal biar pasti bisa build (nggak tergantung mlflow build-docker dulu)
      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/workflow-ci-mlflow:latest -f Dockerfile .

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/workflow-ci-mlflow:latest
